<div class="uk-section" style="position: relative;">
    <div class="uk-container">
        <div class="uk-flex uk-flex-middle uk-grid-large" uk-grid>
            <div class="uk-width-1-2@s intro">
                <img src="/uploads/sample2.jpg" alt="">
            </div>
            <div class="uk-width-1-2@s">
                <h4 class="uk-margin-remove">Let's get in touch</h4>
                <h1 class="heading uk-margin-remove">Write something about what you do</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aliquid culpa qui enim molestiae eligendi quibusdam, aut quis fugit labore vitae nulla amet, nihil, voluptatibus eveniet autem ab earum nisi?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aliquid culpa qui enim molestiae eligendi quibusdam, aut quis fugit labore vitae nulla amet, nihil, voluptatibus eveniet autem ab earum nisi?</p>
                <a href="" class="uk-button uk-button-secondary">Read more</a>
            </div>
        </div>
    </div>
</div>